<hr>
<h1>{{loggedUser.name}} {{loggedUser.lastName}}</br> Oto lista gości{{#if message}}{{message}}{{/if}}:</h1>
<div class="wrapper">
    <div class="grid-container">
        {{#each fullList}}
            {{#if (isAbsent this.willCome)}}
            <div class="divs">
            {{else}}
            <div class="divs absent">
            {{/if}}
                <div class="p-in-div"><p><strong>{{this.name}}</strong> <strong>{{this.lastName}}</strong></p></div><div class="right-span"><p>
            {{#if (isAbsent this.willCome)}}
                Obecność potwierdzona
            {{else}}
                {{#if (isResignedAt this.resignedAt)}}
                    Czas zgłoszenia nieobecności <strong>{{showTime this.resignedAt}}</strong>
                {{/if}}
            {{/if}}</p></div>
        </div>
        {{/each}}
    </div>
</div>
</div>

