<hr>
{{#if message}} <h4>{{message}}</h4>{{/if}}
<h1>Lista Gości:</h1>
<div class="wrapper">
    <div class="grid-container">
        {{#each fullList}}
            {{#if (isAbsent this.willCome)}}
            <div class="divs absent">
            {{else}}
            <div class="divs">
            {{/if}}
            <div class="p-in-div"><p><strong>{{this.name}}</strong> <strong>{{this.lastName}}</strong></p></div><div class="right-span"><p>{{#if (isAbsent this.willCome)}}{{else}} Czas zgłoszenia nieobecności <strong>{{showTime this.startTime}}</strong>
        {{/if}}</p></div>
        {{#if (isId this.id ../idFromCookie)}}
                {{#if (isAbsent this.willCome)}}
                    <form method="POST" action="/{{this.id}}?_method=PATCH" >
                        <button type="submit" name="isPresent" value="absent">Nie będę</button>
                    </form>
                {{else}}
                    <form method="POST" action="/{{this.id}}?_method=PATCH" >
                        <button type="submit" name="isPresent" value="present">Będę</button>
                    </form>
                {{/if}}
                <form method="POST" action="/{{this.id}}?_method=DELETE" >
                    <button type="submit" name="deleteOpened" value="{{this.id}}">Usuń</button>
                </form>
        {{/if}}
        </div>
        {{/each}}
    </div>
</div>
</div>

